@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    font-family: Poppins;
    padding: 0;

}


header {
    width: 100%;
    animation-name: header;
    animation-duration: 2s;
    animation-direction: normal;
    
}
header ul {
    margin-top: -10vh;
    display: flex;
    padding: 30px 40px;
    margin-left: 28%;

}

header li {
    list-style: none;
    margin-left: 10%;
    font-size: 20px;
}

header a {
    text-decoration: none;
    color: black;
}